__pycache__/
*/__pycache__/
.idea/
.history/
discuz/spiders/spring/
discuz/spiders/log/
discuz/spiders/*.txt
discuz/spiders/imcsea_cookies.txt
discuz/spiders/fallenark_cookies.txt
discuz/spiders/imcsea/
discuz/spiders/fallenark/
discuz/spiders/cool18
discuz/spiders/jobdir/
discuz/spiders/fallenark_new/
discuz/spiders/monster_nest/
test.py
cookies.txt
discuz/spiders/cookies.txt
Redis-x64-5.0.14/
Redis-8.2.1-Windows-x64-cygwin/
chromedriver/
discuz/spiders/imcsea.bat
discuz/spiders/fallenark.bat
discuz/spiders/spring4u.bat
discuz/spiders/redis.bat
discuz/spiders/shire.bat
discuz/spiders/shireyishunjian_cookies.txt
discuz/spiders/shire/
discuz/spiders/downloaded_images/
discuz/spiders/chunman_cookies.txt
discuz/spiders/*.bat
discuz/spiders/cool18.bat
discuz/spiders/chromedriver/
discuz/spiders/chromedriver/chromedriver.exe
discuz/spiders/chromedriver/chromedriver.exe
plans/
log/
*.pyy
*.exe